<?xml version="1.0"?>
<launch>
    <arg name="veh" default="pi" doc="Name of vehicle."/>3
    <include file="$(find duckietown)/machines"/>

    <!-- Kinematics and wheel commands -->
    <include file="$(find dagu_car)/launch/dagu_car.launch">
        <arg name="veh" value="$(arg veh)"/>
    </include>

    <!-- Camera nodes including capture, decompression, rectification, etc. -->
    <include file="$(find pi_camera)/launch/camera_theora.launch">
        <arg name="veh" value="$(arg veh)"/>
    </include>

    <!-- Tag detector node -->
    <node ns="$(arg veh)" name="tag_detector" pkg="ar_tags" type="tag_detector_remote.py" output="screen" required="true">
       <rosparam command="load" file="$(find duckietown)/config/ground_projection/$(arg veh).yaml"/>
       <remap from="~image" to="camera_node/image/"/>
       <!-- <remap from="/pi/camera_node/image/raw" to="~image"/> -->
    </node>

    <!-- planning node -->
    <node ns="$(arg veh)" name="searcher_node" pkg="final_project" type="searcher.py" output="screen" required="true">

        <remap from="~car_cmd" to="dagu_car/vel_cmd"/>
    </node>
</launch>
