<launch>
	<arg name="veh" default="pi" doc="Name of vehicle."/>

	<!-- Camera nodes including capture, decompression, rectification, etc. -->
	<include file="$(find duckietown)/launch/camera.launch">
		<arg name="veh" value="$(arg veh)"/>
	</include>

	<!-- Interactive camera calibration -->
	<!-- http://wiki.ros.org/camera_calibration -->
	<node ns="$(arg veh)" name="intrinsic_calibrator" pkg="camera_calibration" type="cameracalibrator.py" args="--size 7x5 --square 0.031 image:=/$(arg veh)/camera_node/image/raw camera:=/$(arg veh)/camera_node"/>
</launch>