<?xml version="1.0"?>
<launch>
    <arg name="veh" default="pi" doc="Name of vehicle."/>

    <!-- Kinematics and wheel commands -->
    <include file="$(find dagu_car)/launch/dagu_car.launch">
        <arg name="veh" value="$(arg veh)"/>
    </include>

    <!-- Publishes target car velocities -->
    <node ns="$(arg veh)" name="keyboard_control_node" pkg="keyboard_control" type="keyboard_control_node.py" output="screen" required="true">
        <remap from="~car_vel_cmd" to="dagu_car/vel_cmd"/>
    </node>
</launch>
