<launch>
    <node pkg="keyboard_control"  name="keyboard_control_node" type="keyboard_control_node.py" output="screen" required="true">
        <remap from="keyboard_control_node/car_vel_cmd" to="car_vel_cmd"/>
    </node>

    <node pkg="dagu_car"  name="kinematics_node" type="kinematics_node.py" output="screen" required="true">
        <remap from="kinematics_node/car_vel_in" to="car_vel_cmd"/>
        <remap from="kinematics_node/wheel_speeds_out" to="wheels_cmd"/>
    </node>

    <node pkg="dagu_car"  name="wheels_driver_node" type="wheels_driver_node.py" output="screen" required="true">
        <remap from="wheels_driver_node/wheels_cmd" to="wheels_cmd"/>
    </node>
</launch>
