<?xml version="1.0"?>
<launch>
    <arg name="veh" default="pi" doc="Name of vehicle."/>

    <group ns="$(arg veh)">
        <rosparam command="load" file="$(find duckietown)/config/pi_camera/pi.yaml"/>
        <!-- Publishes jpeg compressed images from the pi camera -->
        <node name="camera_node" machine="pi" pkg="pi_camera" type="camera_node.py" output="screen" required="true">
            <remap from="~compressed_image" to="camera_node_pi/image/compressed"/>
        </node>

        <!-- encode the image stream into a compressed format for more effeceint transmission -->
        <node name="compressor_node" machine="pi" pkg="image_transport" type="republish"  output="screen" required="true" args="compressed in:=camera_node_pi/image/ compressed out:=camera_node/image"/>
        
        <!-- Publishes camera calibration parameters and provides a service to set them -->
        <node name="cam_info_node" pkg="pi_camera" type="cam_info_node.py" output="screen" required="true">
            <remap from="~image" to="camera_node_pi/image/compressed"/>
            <remap from="~camera_info" to="camera_node/camera_info"/>
            <remap from="~set_camera_info" to="camera_node/set_camera_info"/>
        </node>

        <!-- Decompresses images published from the camera node -->
        <!-- <remap from="camera_node/image" to="camera_node/image/raw"/> -->
        <node name="decompresor_node" pkg="image_transport" type="republish"  output="screen" required="true" args="compressed in:=camera_node/image raw out:=/pi/camera_node/image"/>
    </group>
</launch>
